.site-footer
{
  /* background-color:#26272b; */
  /* padding:45px 0 20px; */
  /* font-size:15px; */
  /* line-height:24px; */
  background-color: var(--mainBlue);

  color:#737373;
}

.footerItemCont{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  padding-top: 5px;
}
.footerCont{
  display: flex;
  /* margin-top: 64px; */
padding:var(--mainPadding);
padding-top:0;
padding-bottom:50px;
  flex-direction: column;
}

.footerCont p{
  font-family: Montserrat;
  font-size: 20px;
  text-align: center;
  margin-top: 50px;
  color:var(--mainBlack);
  opacity: .7;
}


.ourDetails h1{
  font-size: 2.3rem;
  font-family:Montserrat;
  /* margin-bottom: 30px; */
  font-weight: 200;
  color:var(--mainBlack);
  text-justify: center;
  text-align: center;}

.cc{
  background-color: rgb(5, 5, 82);
  text-align: center;
  font-family: Montserrat;
  color:var(--whiteHighlight);
padding: 5px;
box-shadow: var(--mainShadow);


}

.cc a{
  color:white;
  opacity:0.6
}