.hero{
    background-image: linear-gradient(45deg,  rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0)),
                        var(--welcomeImage);
    height: 600px;
    background-position: center;
    background-size: cover;
    padding: var(--mainPadding);
    padding-right: 40%;
    padding-top:60px;
    padding-bottom: 100px;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: left;
}


.hero h1{
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);

    color:white;
    opacity: .98;
    font-family:Montserrat;
    font-weight:500;
    line-height: 60px;

    font-size: 3rem;
}
.hero h3{
    color:white;
    opacity: .8;
    line-height: 35px;
    font-family:Montserrat;

    font-size: 1.5rem;
    font-weight: 200;
    

}



.heroCont{
}

#learnMore{
    background-color: #ffffff33;
    opacity: .9;
    border:solid 1px;

}

#learnMore:hover{
    opacity: 1;

}
















  
.getQuoteCont{
    width: 100%;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    z-index: 1;
    height: 100vh;
    background-color: #00000044;
}
  
  .quotecontainer{
    position: fixed;
    z-index: 2;
    max-width: 510px;
    min-width: 324px;
    margin: 50px auto 0px;
    background-color: #fff;
    border: 1px solid #cfcfcf;
    border-bottom: 3px solid #ccc;
  }
  
  .row {
    width: 100%;
    margin: 0 0 1em 0;
    padding: 1rem 2.5em;
  }
  .row.header {
    padding: 3.5em 2.5em;
    padding-bottom:1.5em;
    border-bottom: 1px solid #ccc;
    background: var(--mainBlue);
    color: #fff;
  }
  
  .row.header h1, h3{
    font-family:Montserrat;
    font-weight: 300;
  }



  .textInput{
    padding: 12px;

    resize: none;
    margin-top:22px;
    height:40px;
    border:solid 1px;
    border-color:lightgrey;
  }
  
  .name{
      margin: 5px;
      margin-top: 30px;
      display: flex;
      flex-direction: column;
  }

 .name label{
    font-family:Montserrat;
    color: var(--mainBlack);
    margin-left: 10px;
 }

 .names{
     display: flex;
     flex-direction:row ;
 }

 #seeProducts{
     background-color: white;
     color:var(--mainBlack);
     border-color: var(--mainBlue);
 }