header{
    padding-top: 18px;
    padding-left:var(--mainPadding);
    padding-right:var(--mainPadding);
    height: 80px;
    box-shadow: var(--mainShadow);
    background-color: var(--mainWhite);
}
.navLinks{
    float: right;
    height: 100%;
    justify-content: center;
    justify-items: center;
    margin: 0 auto;
    
}
.navLinks a{
    color:var(--mainBlack);
    font-family:Montserrat;
    text-decoration: none;
    margin-right:40px;
}

.navLinks a:hover{
    color:var(--mainBlue);
    }
Button{
    padding:20px;
    padding-top:15px;
    padding-bottom:15px;
    color:white;
    background: var(--mainRed);
    /* border:none; */
    border:solid;
    border-width: 1px;
    border-color: var(--mainRed);
    transition: var(--mainTransition);
}

Button:hover{
    background-color: var(--mainBlue);
    border-color: var(--mainBlue);
}

#logo{
transform: translateY(-8px);
    height: 100%;
}


#hamburger{
    margin-left: 60px;
    font-size: 30px;
    padding:0px;
    background-color: #00000000;
    color:var(--mainBlue);
    border:none;
    transform: translateY(8px);

}

.darkenBG{
    position: absolute;
    background-color: #00000055;
    width: 100%;
    z-index: 1;
    height: 100vh;
    /* opacity: 1; */
    display: none;
    transition: var(--mainTransition);
}

@keyframes darken {

    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

@keyframes lighten {
}
from{
    opacity: 1;
}
    to{
        opacity: 0;
   
}

.sideBar div{
    height:40px;
    font-family:Montserrat;
    font-weight: 300;
    display: flex;
    flex-direction: row;
    
}

.sideBar div h1{
    margin-left: 30px;
    margin-top: 2px;
    font-family:Montserrat;
    font-weight: 400;
    font-size: 27px;
}

.sideBar div button{
   
    font-size: 30px;
    transform: translateY(-18px);
    
    color:black;
    background-color: var(--mainWhite);
    border-color: var(--mainWhite);
    margin-left: 65px;
    font-family: Montserrat;
    transition: var(--mainTransition);
}

.sideBar div button:hover{
color:var(--mainRed
)}

.sideBar ul{
    /* transform:translateX(-25px); */
    margin-top: 10px;
    
   
}
.sideBar li{
    width: 250px;
    box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.25);
    text-decoration: none;
    font-size: 20px;
    padding: 20px;
    list-style: none;
    color:var(--mainBlack);
    transition: var(--mainTransition);
}

.sideBar a{
    font-family:Montserrat;
    padding:20px;
    width: 100%;
    color:var(--mainBlack);
    text-decoration: none;


}

#sideBar a:hover{
    background-color: var(--whiteHighlight);
    color:var(--mainRed);
}


#sideBarCate {
    margin-top: 10px;
    margin-left: 30px;
    display: flex;
    flex-direction: column;
    transition: var(--mainTransition);
}
@keyframes hideSideBarCate{
    to{
    transform: translateY(-1000px);
    }
}

#sideBarCate a {
    /* width: 250px; */
    /* box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.25); */
    text-decoration: none;
    font-size: 15px;
    padding: 10px;

    font-family:Montserrat;

    color:var(--secondaryBlack);
    text-decoration: none;
    transition: var(--mainTransition);
}



#sideBarCate a:hover{
    background-color: var(--whiteHighlight);
}


.sideBar{
    position: fixed;
    background-color: var(--mainWhite);
    
    padding-top:20px;
    box-shadow: var(--mainShadow);
    width: 250px;
    z-index: 1;
    /* transform: translateX(250px); */
    height: calc(100vh + 18px);
    right: 0%;
    animation-timing-function: ease-in-out;
    
    display: none;
}

@keyframes sidebarAnimation {
    
    from{
        transform: translateX(250px);
    }

    to{
        transform: translateX(0px); 
    }

}
@keyframes sidebarAnimation2 {
    
    from{
        transform: translateX(0px);
    }

    to{
        transform: translateX(250px); 
    }

}

