#headingText{
    transform: translateY(50px);
    margin-left: calc(var(--mainPadding) + 20px);
    font-family: Montserrat;
    font-weight: 200;
    font-size: 30px;
    color:#444;
}

label {
	color: #666;
	font-size: 10px;
	font-weight: 500;
	font-family: m;
	line-height: 2em;
	text-transform: uppercase;
}



.products {
    margin-left:10px;

    max-width: 940px;

	display: flex;
	flex-wrap: wrap;
    height: 300px;

}

.product-card {
	display: flex;
	flex-direction: column;
	
	padding: 2%;
	flex: 1 16%;
	background-color: #FFF;
	box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.25);
}

.product-image img {
	width: 100%;
}


.product-info {
	margin-top: auto;
	padding-top: 20px;
	text-align: center;
    font-family: Montserrat;
    font-size: 20px;
    color:var(--mainBlack);

}
.product-info h5{
    opacity: .8;
    text-transform: uppercase;
    
}


.product-info h6{
    margin-top: 10px;
    color:var(--secondaryBlack);
    opacity: .8;}

.productCont{
    padding:var(--mainPadding);
    padding-top:100px;
    display: flex;
    flex-direction: row;
}


.categories{
    border:solid 1px;
    border-color:lightgrey;
    /* background-color: #f1f1f1; */
    width: 100%;
    display: flex;
    height: 500px;
    overflow-y: scroll;
    flex-direction: column;
    background-color: white;
}
#categoryHeader{
    font-family: Montserrat;
    margin:20px; 
    font-size: 35px;
    font-weight: 400;


}


.categories h1{
    text-align: center;
    font-family: Montserrat;
    margin:20px; 
    font-size: 25px;
    font-weight: 500;
    padding:0rem
}
.categories a{
    /* margin-left:15px; */
    font-size: 17px;
    color:var(--mainBlack);
    font-family: Montserrat;
    box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.25);
    padding:20px;
    padding-top:15px;
    padding-bottom:15px;
    text-decoration: none;
    text-transform:  uppercase;
}
.categories a input{
    margin-right:10px;
}
.categories a:active{
    background-color: lightgrey;
}


.product-card {
		flex: 2 33%;
	}
	
.filters{
    width: 300px;
}

#cart{
    position: fixed;
    bottom:10%;
    right:10%;
    border-radius: 4px;
    padding:5px;
    background-color:var(--mainBlue);
    border:none;
    font-size: 25px;
    z-index: 2;
    width:50px;
    height: 50px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;}

#selectCate{
    border: none;
    /* text-align: center; */
    font-family: Montserrat;
    /* margin:20px;  */
    font-size: 25px;
    /* font-weight: 500; */
    width:50%;
    padding:0rem
    
}

.selectCont{
/* 
    /* padding-left: var(--mainPadding); */
    padding-right: var(--mainPadding);

}
#cartCont{
    position: fixed;
    background-color: #00000044;
    width: 100%;
    z-index: 1;
    height: 100vh;
    /* animation: darken 1s reverse; */
    display: none;
    /* display: none; */
}

@keyframes darken {

    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

#cartList{
    padding:40px;
    position: fixed;
    background-color: var(--mainWhite);

    padding-top:20px;
    /* padding */
    width: 50%;
    z-index: 1;
    /* transform: translateX(250px); */
    height: 100vh;
    left: 0%;
    animation-timing-function: ease-in-out;
    /* animation: cartAnimation 1s; */
    display: none;

    /* display: none; */
}

#cartList h4{
    margin-top: 20px;
    font-family: Montserrat;
    color:var(--mainBlack);
position: relative;
}
#cartList h6{
    font-family: Montserrat;
    color:var(--secondaryBlack);
    color:var(--mainRed);
}
#cartList h4 i{
    position: absolute;
    right: 20px;
}
#cartList h4 i::before{
    content: '$';
}

@keyframes cartAnimation2 {
    
  

    to{
        transform: translateX(-100%); 
    }

}

@keyframes cartAnimation {
    
    /* from{
        transform: translateX(250px);
    } */

    to{
        transform: translateX(-100%); 
    }

}

#cartList h1{
    margin-top:30px;
    margin-bottom: 10px;
    font-family: Montserrat;
    font-weight: 200;
}

#cartListInner{
    overflow-y: scroll;
    height: 70vh;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: white;
}

#cartListItem{
    margin:1px;
    box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.25);
    /* height: 200px; */
    display: flex;
    flex-direction: row;
    position: relative;
    height: fit-content;
}



#cartItemImage{
    background-color: white;
    margin: 5px;
    width: 30%;
}

#cartItemImage img{
    width: 100%;
}

#cartItemDesc{
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}
#cartItemDesc h1 {
    font-family: Montserrat;
    font-size: 20px;
    /* line-height: 10px; */
    color: var(--mainBlack);
}

#cartItemDesc label{
    margin-right: 10px;
    color:var(--secondaryBlack);
    font-family: Montserrat;
}
#cartItemDesc h3 {
    font-size: 15px;

}

.quantCont h5{
    color:var(--secondaryBlack);
    margin-top: 10px;
}

.inputNo{
    border:solid 1px;
    border-color:lightgrey;
    width: 30px;
    font-size: 15px;
}
#cartListItem button{
       
    font-size: 25px;
    /* transform: translateY(-18px); */
    position: absolute;
    color:black;
    background-color: var(--mainWhite);
    border-color: var(--mainWhite);
    /* margin-left: 65px; */
    right: 20px;
    bottom:0;
    font-family: Montserrat;
    transition: var(--mainTransition);
}
